// @import '@utils/theme-vars.styl'
.box
  height 100vh
.editButton
  color #579DFF
  &:hover
    color #8CC6F2
.dangerButton
  color #FF9000
  &:hover
    color #FFA874
.logo
  width 30px
  vertical-align middle
.input
  flex 1
  display inline-block
  border none
  outline none
  background-color transparent
  font-size inherit
  color inherit
  padding 0
  max-width 740px
.minWidth
  width 740px
  word-break break-all
.main
  position absolute
  top 0
  left 0
  right 0
  bottom 0
.personal
  width 1280px
  padding 0 16px
  margin 41px auto
.cancel
  border none
  background-color rgba(255, 255, 255, .2)