<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <!-- <link href="/public/antd/4.15.1/antd.min.css" rel="stylesheet"> -->
</head>
<script>
</script>
<body>
<div id="root" style="width: 100%; height: 100%;"></div>
<script src="<%= htmlWebpackPlugin.options.publicHost %>/public/react/17.0.2/react.profiling.min.js"></script>
<script src="<%= htmlWebpackPlugin.options.publicHost %>/public/react/17.0.2/react-dom.profiling.min.js"></script>
</body>
</html>
