.fbh, .fbv
  display flex
.fbv
  flex-direction column
.fbas
  align-items flex-start
.fbac
  align-items center
.fbae
  align-items flex-end
.fbast
  // 这个是交叉轴上的默认值
  align-items stretch
.fbjs
  // 这个是主轴上的默认值
  justify-content flex-start
.fbjc
  justify-content center
.fbje
  justify-content flex-end
.fbjsb
  justify-content space-between
.fbn
  flex none
.fb1
  flex 1
.fb2
  flex 2
.fb3
  flex 3
.fb7
  flex 7
.fbw
  flex-wrap wrap
.fbnw
  flex-wrap nowrap
